{% extends "layout.html" %}

{% block heading %}
   Profile
{% endblock %}

{% block body %}
   <h5>User : {{username}}</h5>
   <br>
   <h5>Search for books</h5>
   <form action="{{url_for('results')}}" method="POST">
		<input type="text" placeholder="ISBN" name="isbn">
        	<input type="text" placeholder="Title" name="title">
        	<input type="text" placeholder="Author" name="author">
		<button>Submit</button>
   </form>
   <br>
   <a href="{{ url_for('logout') }}">Logout</a>
{% endblock %}
